# 来源: https://www.lse.ac.uk/study-at-lse/Graduate/Prospective-students/Entry-requirements
# 抓取时间: 2026-09-08T22:31:50+08:00

Each level of graduate study (diploma, master's, MPhil/PhD) has particular minimum entry requirements. These consist of:
- your previous degree(s)
- your proficiency in the English language.
Please consult individual programme pages as well as reading the information below.
Your application will be considered on its academic merit. Please note that competition for places at LSE is intense, and satisfaction of the minimum entry requirements does not guarantee that you will be offered admission. It is therefore in your interests to apply as early as possible.
Any offer of a place may be conditional on attending additional courses and/or passing qualifying examinations at a suitable standard, in addition to your degree.
If your first degree is from outside the UK:
For degree programmes outside the UK you will need to obtain at least 70 per cent of the available marks in your final year examinations. If your institution uses the cumulative grade point average (GPA) system you should normally have a GPA of at least 3.5 out of 4 or above. For detailed information about the equivalence of non-UK qualifications, please see our country-specific information for international students.
Most graduate programmes assume that you have prior knowledge to degree level in particular disciplines. Competition varies between programmes and the level of grades/marks required will vary. Popular programmes will often look for a first class honours degree or its non-UK equivalent.
The minimum entry requirements for each type of programme are normally as follows:
A first or upper second class honours (2:1) degree from a UK university or a non-UK equivalent in a subject appropriate to the programme to be followed. We will express any condition in the mark-scheme used on your transcript.
Normally a UK taught master's degree with merit or a non-UK equivalent in a subject appropriate to the research to be undertaken. The most appropriate supervisor for your work will be allocated with particular reference to your research proposal.
Any offer of a place would depend on:
- The quality and feasibility of your research proposal
- Your academic qualifications, and relevant professional or other experience, if appropriate
- The ability of the department to provide adequate and appropriate supervision
- An interview with the department, unless there are exceptional circumstances which prevent this
Your entry qualification determines which track you will follow if your application is successful. For entry onto either track, candidates should have, as a minimum, a first or upper second class honours (2:1) degree from a UK university or a non-UK equivalent in a closely related discipline.
Track 1 students fulfil the entry requirements for a master's degree (see above) and follow the 2+2 structure.
Track 2 may involve an exemption from some of the taught courses and will be recommended by the course conveners only if, in their judgement, the student already has appropriate prior training in quantitative methods and has already completed an MA or MSc in a relevant discipline.
Upgrade to the PhD depends on successful completion of the MRes in either track.
A number of LSE's master's programmes comply with the requirements for financial support from the research councils. These programmes consist of a linked MSc and MPhil/PhD degree (either 1+3 or 2+2). For more information, see our Doctoral Training Partnership page[BP1] .
If you wish to be considered for nomination for a research council studentship, you must include an outline research proposal with your application. This proposal should be a brief description of the research topic you are considering pursuing during your PhD and should explain why you are interested in this area of research. As your research interests will develop further over the year of your master's training, your proposal need only be indicative. You must meet the same entry requirement as for all MSc programmes (see above). Please be aware of the deadlines to be considered for research council funding.
We will notify you in your offer letter if you have been nominated by your department to be considered by the funding panel. Once the panel's decision is made we will contact you with further information.
Visiting research students attend for one or more terms up to one full year. You should be pursuing PhD study at another institutione. You will not attend courses or be examined, but will have the opportunity to collaborate with colleagues within your department and to participate in the research environment of LSE.
