# 来源: https://www.lse.ac.uk/study-at-lse/Graduate/Prospective-students/Entry-requirements/English-language-requirements
# 抓取时间: 2026-09-08T22:31:54+08:00

Graduate programmes at LSE are demanding and you will need to demonstrate that you have a high level of English language proficiency before you embark on your studies.
Your answers to the relevant questions on the application form will give you an indication of whether we will require an English test from you. We encourage you to submit your test results with your application (please fill in the relevant section of the application form). Any offer of admission will be subject to proof of your score.
If you have not taken a test by the time you apply, your application can still be considered without it, but any offer will be conditional on the required score. Please note that people applying via Sciences Po to Double Degree programmes must meet the requirement at the point they apply.
You can meet our language requirements in the following ways:
-
You are a national and resident of Canada or one of the UKVI list of majority English-speaking countries below (whose first language is English). If it is not clear elsewhere in your application, please provide an indication that English was the language of instruction in your primary/secondary education or
-
You have successfully completed an undergraduate degree (of at least three years duration), a postgraduate taught degree (of at least one year) or a PhD in one of those countries listed below or
-
You have passed a recognised English language test at an appropriate level. Our preferred tests are listed below. We expect you to reach the required level at a single setting of the test, but may accept IELTS One Skill Retake at the discretion of the selectors. If you have achieved the required score in this way, please send us your results so that we can consider them.
- If you are set an English language condition, you may be able to take an English Pre-sessional course at the LSE Language Centre. Take a look here for more details.
Please note that 2+2 undergraduate degrees where less than three years has been spent in a majority English-speaking country and degrees taken at overseas campuses of English speaking institutions in non majority English speaking countries (eg Chinese campuses of UK institutions) are insufficient to meet our requirements and you will be required to supply a test score. The same is true for students of the University of London International Programme (UoLIP) whose study has not been undertaken in a majority English-speaking country.
English tests must be less than two years old on 1 October 2026.
The condition we set depends on your programme - see the English language test requirements table below. If you are set an English language condition, we encourage you to book a test at your earliest opportunity.
If you are unable to take one of our preferred tests, it may be possible for you to take an alternative test such as Duolingo or IELTS Indicator and supplement your score by taking the LSE Language Centre Assessment. To request this option, you should complete the extenuating circumstances form on the GAP, providing any existing test scores and giving the reasons why you are unable to take one of the tests below. Appointments for the LSE LCA are limited and we cannot accommodate people who simply prefer to take this route.
Antigua & Barbuda
Australia
The Bahamas
Barbados
Belize
Dominica
Grenada
Guyana
Ireland
Jamaica
Malta
New Zealand
St Kitts & Nevis
St Lucia
St Vincent & the Grenadines
Trinidad & Tobago
UK
USA
English language test requirements (English tests must be less than two years old by 1 October in the year you intend to start your programme.)
Please check individual programme pages to see which score they require. For example, not all MPhil/PhD programmes require the Research English requirement.
MRes/PhD English Language Requirements
| MRes/PhD Programme | Requirement (Full details above) |
|---|---|
| MRes/PhD Accounting (Accounting, Organisations and Institutions) | Standard |
| MRes/PhD Accounting (Economics of Accounting) | Standard |
| MRes/PhD Anthropology | Higher |
| MRes/PhD Economics | Standard |
| MRes/PhD in Economics and Management | Higher |
| MRes/PhD Finance | Standard |
| MRes/PhD International Development | Higher |
| MRes/PhD in Management - Employment Relations and Human Resources | Higher |
| MRes/PhD in Management - Marketing | Higher |
| MRes/PhD in Management - Organisational Behaviour | Higher |
| MRes/PhD Political Science | Higher |
You may be required to achieve a higher score at the discretion of the selectors, even if you already meet the requirements above.
*For tests taken before the new Cambridge English Scale was introduced, we will use the online converter to determine your score equivalence. If you are taking a Cambridge test rather than the IELTS, we prefer the C1 Advanced or C2 Proficiency tests.
**The IELTS (General) test is not appropriate for academic use, please ensure you take the IELTS (Academic). The online version is acceptable.
Pearson Test of English (Academic) (PTEA) is accepted when taken in-person only - we do not accept the online test.
These are minimum requirements. You may need additional language instruction before you can register to be confident that you can participate fully in your programme. Experience has shown that students who are fully proficient in English are best placed to make the most of all that LSE has to offer, both academically and socially.
Please refer to the Language Centre pages for more information on the Presessional and Insessional programmes we offer.
Please see the resources at the below links, to help you prepare for English language testing, and for studying at LSE.
IELTS Resources:
TOEFL Resources
Using English for Academic Purposes
Preparing for LSE Presessional courses
Preparing to study
On rare occasions, we may accept scores below our minimum requirements if there are extenuating circumstances surrounding your test scores, however under NO CIRCUMSTANCES will we accept scores that do not meet UKVI's requirements for English proficiency for a student visa:
gov.uk/student-visa/knowledge-of-english
This is because you would not be granted entry to the UK with such a score and we will therefore not issue you with a CAS.
